@import url("https://fonts.googleapis.com/css2?family=Chivo&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* logo-small 1 */

position: absolute;
width: 31px;
height: 31px;
left: 20px;
top: 21px;

background: url(logo-small.png);
